@model BlogPageViewModel
@{
    ViewData["Title"] = "Min Blog";
}

<h1 class="text-center">Blogs</h1>

<form asp-action="CreatePost" method="get">
    <button type="submit" class="btn btn-secondary" id="create-btn">Create Post</button>
</form>

@foreach (var post in Model.BlogPosts)
{
    <div class="form-control" id="blog-post">
        <h2>@post.Title</h2>
        <h4>af @post.Author?.Name</h4>
        <p>d. @post.Created</p>
        <p>@post.Content</p>
        <p>Dagens Rating: @post.OneToTen/10</p>
    </div>
}

<style>
    #blog-post{
        margin-bottom:  20px;
    }
    #create-btn{
        margin-bottom:  20px;
        height:  100px;
        width: 250px;
        font-size:  24px;
    }
</style>